* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root[data-theme="light"]{
    --bg-color: hsl(0, 0%, 94%);
    --container-bg: hsl(0, 0%, 100%);
    --label-color: hsl(0, 1%, 44%);
    --input-border-color: hsl(0, 0%, 86%);
    --input-active-color: hsl(259, 100%, 65%);
    --button-black: hsl(0, 0%, 8%);
    --error: hsl(0, 100%, 67%);
    --bottom-p:#000;
}

:root[data-theme="dark"]{
    --label-color: #fff;
    --bg-color:#101820FF;
    --container-bg: #003950FF;
    --input-border-color:hsl(0, 0%, 86%) ;
    --input-active-color: hsl(259, 100%, 65%);
    --bottom-p:#fff;
    --button-black: hsl(0, 0%, 8%);
    --error: hsl(0, 100%, 67%);
}
.theme-toggle-button {
    position: absolute;
    z-index: 1;
    right: 12px;
    top: 12px;
    padding: 4px 12px;
    border: 1px solid ;
    border-radius: 8px;
    font-size: 14px;
    line-height: normal;
    background-color: transparent;
    color: var(--input-active-color);
    cursor: pointer;
    border:1px solid var(--input-active-color);
}

.theme-toggle-button:hover{
    background-color: var(--input-active-color);
    color:var(--bg-color);
}

body {
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
}

.container {
    width: 850px;
    padding: 56px;
    padding-right: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--container-bg);
    border-radius: 2.5rem 2.5rem 15rem 2.5rem;
}

.top {
    display: flex;
    width: 100%;
}

.top div {
    margin-right: 35px;
}

label {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: var(--label-color);
    margin-bottom: 10px;
    font-size: 14px;
    letter-spacing: 2px;
}

span {
    font-size: 12px;
    display: block;
    height: 20px;
}

input {
    outline: none;
    width: 160px;
    height: 60px;
    border-radius: 10px;
    padding: 15px;
    border: 1px solid var(--input-border-color);
    font-size: 32px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 5px;
    color: var(--label-color);
    background-color: var(--container-bg);
}

input:focus {
    border: 1px solid var(--input-active-color);
}

.center {
    width: 100%;
    display: flex;
    align-items: center;
}

.center::before{
    content: "";
    display: inline-block;
    width: 600px;
    height: 2px;
    
    background-color: var(--input-border-color);
}

.center button {
    background-color: var(--input-active-color);
    outline: none;
    border: transparent;
    border-radius: 50%;
    padding: 15px;
    margin-top: 0px;
}

.center button:hover {
    background-color: var(--button-black);
    cursor: pointer;
}

.bottom {
    font-size: 6.5rem;
    font-weight: 800;
    line-height: 120px;
}

.bottom p {
    display: inline-block;
    color: var(--bottom-p);
}

.bottom .info {
    color: var(--input-active-color)
}

@media screen and (max-width:930px) {
    .container {
        width: max-content;
    }

    .center {
        height: 125px;
        display: flex;
        justify-content: center;
    }

    button {
        position: absolute;
    }
}

@media screen and (max-width: 830px) {
    body{
        display: flex;
        justify-content: center;
    }
    .container {
        width: 360px;
        padding: 35px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 1.5rem 1.5rem 10rem 1.5rem;
    }

    .top div {
        margin-right: 20px;
    }

    label{
        font-size: 8px;
        margin-bottom: 5px;
    }

    span{
        font-size: 6px;
        height: 10px;
    }
    input{
        width: 80px;
        height: 40px;
        border-radius: 5px;
        font-size: 25px;
        padding: 5px;
    }

    button{
        padding: 5px;
    }

    .bottom{
        font-size: 3rem;
        line-height: 80px;
    }
}